<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>LSUIElement</key>
	<true/>
	<key>NSInputMonitoringUsageDescription</key>
	<string>Only counts keystrokes and mouse clicks to display daily totals in the menu bar. No key content is ever accessed, recorded or sent off-device. The app code is open source and can be verified by anyone for transparency.</string>
</dict>
</plist>
